.home-banner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
}

.home-banner-swiper {
  width: 100%;
  height: auto;
}

.banner-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}